<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eacmple</title>
</head>
<body>
	<div>
		<h1>Exampel Page</h1>
	</div>
</body>
<script src="/jscript/mainApp.js"></script>
<script src="/jscript/controller/controller.js"></script>
</html>