<% include partials/header %>
      <!-- main container starts here -->
      <div id="content">
        <h1>Under Construction..!</h1>
      </div>
      <!-- main container Ends -->
<% include partials/footer %>